/* SETTINGS */

/* Show Birthday */

body
  > div#root
  > div.css-175oi2r.r-13awgt0.r-12vffkv
  > div.css-175oi2r.r-13awgt0.r-12vffkv
  > div.css-175oi2r
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-2llsf.r-kemksi
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-13awgt0.r-1d5kdc7.r-1p0dtai.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-2llsf
  > div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx
  > div.css-175oi2r.r-1ljd8xs.r-13l2t4g.r-sa2ff0.r-1jj8364.r-lchren.r-1ye8kvj.r-13qz1uu
  > div.css-175oi2r.r-1awozwy.r-18u37iz.r-12rqra3.r-284m6k
  > div.css-175oi2r.r-1loqt21.r-1otgn73
  > div.css-146c3p1 {
  color: var(--primary-color) !important;
}

/* External Media Preferences */

/* Media Player Toggle */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-13awgt0.r-1d5kdc7.r-1p0dtai.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx
  div.css-175oi2r.r-1ljd8xs.r-13l2t4g.r-sa2ff0.r-1jj8364.r-lchren.r-1ye8kvj.r-13qz1uu
  div.css-175oi2r
  div.css-175oi2r.r-10sqg0u.r-11f147o.r-18c5d7m:only-child
  button.css-175oi2r.r-1loqt21.r-1otgn73.r-1fuqb1j.r-11f147o.r-gu64tb:only-child
  div.css-175oi2r.r-1awozwy.r-18u37iz.r-uaa2di:only-child
  div.css-175oi2r.r-1ylenci.r-d045u9.r-1k25im9.r-146eth8.r-1mhb1uw:first-child:first-of-type
  div.css-175oi2r.r-1dzdj1l.r-10ptun7.r-1janqcz.r-1ow6zhx:only-child {
  background-color: var(--primary-color) !important;
}

/* ADVANCED SECTION */

/* Add App Passwords Button */

html.theme--dim
  body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-13awgt0.r-1d5kdc7.r-1p0dtai.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-13awgt0.r-1ljd8xs.r-13l2t4g.r-1mdbw0j.r-1jj8364.r-lchren.r-1ye8kvj.r-13qz1uu
  div.css-175oi2r.r-18u37iz.r-1777fci.r-l71dzp
  button.css-175oi2r.r-1loqt21.r-1otgn73.r-1awozwy.r-nsiyw1.r-18u37iz.r-1777fci.r-1ml3abn.r-cor4g:has(
    div
  ) {
  background-color: var(--primary-color) !important;
}

/* Create App Password Button */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8:only-child
  div.css-175oi2r.r-13awgt0.r-1mdbw0j.r-3pj75a:only-child
  div.css-175oi2r.r-18u37iz.r-1777fci.r-1s2bzr4:nth-child(4)
  button.css-175oi2r.r-1loqt21.r-1otgn73.r-1awozwy.r-nsiyw1.r-18u37iz.r-1777fci.r-1ml3abn.r-cor4g:only-child:has(
    div
  ) {
  background-color: var(--primary-color) !important;
}

/* Change Handle Save */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-1awozwy.r-qklmqi.r-18u37iz.r-19yat4t.r-u9wvl5.r-qiwf3y:nth-child(
    1
  )
  div.css-175oi2r.r-18u37iz.r-17s6mgv.r-1glkqn6:nth-child(3)
  button.css-175oi2r.r-1i6wzkk.r-lrvibr.r-1loqt21.r-1otgn73:only-child
  div.css-146c3p1:only-child {
  color: var(--primary-color) !important;
}

/* Change Handle I Have My Own Domain */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0:only-child
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx.r-1slz7xr:nth-child(
    2
  )
  div.css-175oi2r:only-child
  button.css-175oi2r.r-1i6wzkk.r-lrvibr.r-1loqt21.r-1otgn73:nth-child(3)
  div.css-146c3p1:only-child,
body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx.r-1slz7xr
  div.css-175oi2r:only-child
  button.css-175oi2r.r-1i6wzkk.r-lrvibr.r-1loqt21.r-1otgn73:nth-child(
    4
  ):only-of-type
  div.css-146c3p1:only-child {
  color: var(--primary-color) !important;
}

/* Copy Domain Value Button */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx.r-1slz7xr
  div.css-175oi2r
  button.css-175oi2r.r-1loqt21.r-1otgn73.r-1fuqb1j.r-11f147o.r-gu64tb.r-1pcd2l5.r-15d164r:nth-child(
    11
  ):nth-of-type(1)
  div.css-146c3p1:only-child {
  color: var(--primary-color) !important;
}

/* Verify DNS Record Button */

html.theme--dim
  body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx.r-1slz7xr
  div.css-175oi2r
  button.css-175oi2r.r-1loqt21.r-1otgn73.r-1fuqb1j.r-11f147o.r-gu64tb.r-1pcd2l5:nth-child(
    12
  ):nth-of-type(2) {
  background-color: var(--primary-color) !important;
}

/* Copy File Contents */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx.r-1slz7xr
  div.css-175oi2r
  button.css-175oi2r.r-1loqt21.r-1otgn73.r-1fuqb1j.r-11f147o.r-gu64tb.r-1pcd2l5.r-15d164r:nth-child(
    12
  ):nth-of-type(1)
  div.css-146c3p1:only-child {
  color: var(--primary-color) !important;
}

/* Verify Text File */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx.r-1slz7xr
  div.css-175oi2r
  button.css-175oi2r.r-1loqt21.r-1otgn73.r-1fuqb1j.r-11f147o.r-gu64tb.r-1pcd2l5:nth-child(
    13
  ):nth-of-type(2),
body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx.r-1slz7xr
  div.css-175oi2r
  button.css-175oi2r.r-1loqt21.r-1otgn73.r-1fuqb1j.r-11f147o.r-gu64tb.r-1pcd2l5:nth-child(
    14
  ):nth-of-type(2) {
  background-color: var(--primary-color) !important;
}

/* Nevermind, create a handle for me */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx.r-1slz7xr
  div.css-175oi2r
  div.css-175oi2r.r-1i6wzkk.r-lrvibr.r-1loqt21.r-1otgn73:nth-child(
    14
  ):nth-of-type(12)
  div.css-146c3p1:only-child,
body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx.r-1slz7xr
  div.css-175oi2r
  div.css-175oi2r.r-1i6wzkk.r-lrvibr.r-1loqt21.r-1otgn73:nth-child(
    15
  ):nth-of-type(13)
  div.css-146c3p1:only-child,
body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx.r-1slz7xr
  div.css-175oi2r
  div.css-175oi2r.r-1i6wzkk.r-lrvibr.r-1loqt21.r-1otgn73:nth-child(
    16
  ):nth-of-type(14)
  div.css-146c3p1:only-child {
  color: var(--primary-color) !important;
}

/* 2FA - Two Factor Authentication */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-13awgt0.r-1d5kdc7.r-1p0dtai.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-2llsf
  > div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx
  > div.css-175oi2r.r-1ljd8xs.r-13l2t4g.r-sa2ff0.r-1jj8364.r-lchren.r-1ye8kvj.r-13qz1uu
  > div.css-175oi2r.r-10sqg0u.r-11f147o.r-18c5d7m
  > button.css-175oi2r.r-1loqt21.r-1otgn73.r-1fuqb1j.r-11f147o.r-gu64tb
  > div.css-175oi2r.r-1awozwy.r-18u37iz.r-uaa2di
  > div.css-175oi2r.r-1ylenci.r-d045u9.r-1k25im9.r-146eth8.r-1mhb1uw
  > div.css-175oi2r.r-1dzdj1l.r-10ptun7.r-1janqcz.r-1ow6zhx {
  background-color: var(--primary-color) !important;
}

/* Send verification email button */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-2llsf.r-kemksi
  > div.css-175oi2r
  > div.css-175oi2r
  > div.css-175oi2r
  > div
  > div.css-175oi2r:only-child
  > div.css-175oi2r:nth-child(3):nth-of-type(2)
  > button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(1) {
  background-color: var(--primary-color) !important;
}

/* Send verification email button hover */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-2llsf.r-kemksi
  > div.css-175oi2r
  > div.css-175oi2r
  > div.css-175oi2r
  > div
  > div.css-175oi2r:only-child
  > div.css-175oi2r:nth-child(3):nth-of-type(2)
  > button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(1):hover {
  background-color: var(--secondary-color) !important;
}

/* I have a code button */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-2llsf.r-kemksi
  > div.css-175oi2r
  > div.css-175oi2r
  > div.css-175oi2r
  > div
  > div.css-175oi2r
  > div.css-175oi2r:nth-child(3):nth-of-type(2)
  > button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(2)
  > div:only-child {
  color: var(--primary-color) !important;
}

/* I have a code button hover */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-2llsf.r-kemksi
  > div.css-175oi2r
  > div.css-175oi2r
  > div.css-175oi2r
  > div
  > div.css-175oi2r
  > div.css-175oi2r:nth-child(3):nth-of-type(2)
  > button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(2):hover {
  background-color: var(--focus-color) !important;
}

/* Resend Email Button */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  > div.css-175oi2r
  > div.css-175oi2r
  > div
  > div.css-175oi2r:only-child
  > div.css-175oi2r:nth-child(3)
  > div.css-175oi2r:nth-of-type(2)
  > button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(1)
  > div.css-146c3p1:only-child {
  color: var(--primary-color) !important;
}

/* Resend Email Button Hover */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-2llsf.r-kemksi
  > div.css-175oi2r
  > div.css-175oi2r
  > div.css-175oi2r
  > div
  > div.css-175oi2r:only-child
  > div.css-175oi2r:nth-child(3)
  > div.css-175oi2r:nth-of-type(2)
  > button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(1):hover {
  background-color: var(--focus-color) !important;
}

/* Remove 2FA Confirm Button  */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r
  > div.css-175oi2r
  > div
  > div.css-175oi2r:only-child
  > div.css-175oi2r:nth-child(3)
  > div.css-175oi2r:nth-of-type(2)
  > button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(2) {
  background-color: var(--primary-color) !important;
}

/* Remove 2FA Confirm Button Hover */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r
  > div.css-175oi2r
  > div
  > div.css-175oi2r:only-child
  > div.css-175oi2r:nth-child(3)
  > div.css-175oi2r:nth-of-type(2)
  > button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(2):hover {
  background-color: var(--secondary-color) !important;
}

/* Confirmation Code Box Text Box Focus */

/* Confirmation Code Box Text Box Focus SVG */
/* 
body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r
  > div.css-175oi2r
  > div
  > div.css-175oi2r
  > div.css-175oi2r
  > div.css-175oi2r
  > div.css-175oi2r:focus-within:nth-child(2)
  > div.css-175oi2r:nth-child(1)
  > svg
  > path {
  fill: var(--primary-color) !important;
} */

/* ACCOUNT SECTION */

/* Change Password Already Have A Code? */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-97e31f.r-bv2aro.r-hxflta.r-10xqauy.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx
  div.css-175oi2r.r-1wtj0ep
  div.css-175oi2r:nth-child(1)
  div.css-175oi2r.r-18u37iz.r-1777fci.r-156q2ks:nth-child(3)
  button.css-175oi2r.r-1i6wzkk.r-lrvibr.r-1loqt21.r-1otgn73:only-child
  div.css-146c3p1:only-child {
  color: var(--primary-color) !important;
}

/* Change Password Request Code Button */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-97e31f.r-bv2aro.r-hxflta.r-10xqauy.r-13awgt0:only-child
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx:only-child
  div.css-175oi2r.r-1wtj0ep:only-child
  div.css-175oi2r.r-1knelpx:nth-child(2)
  div.css-175oi2r:only-child
  button.css-175oi2r.r-1loqt21.r-1otgn73.r-1fuqb1j.r-11f147o.r-gu64tb:nth-child(
    1
  ):has(div) {
  background-color: var(--primary-color) !important;
}

/* Export Data Download Button */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv:only-child
  div.css-175oi2r:nth-child(1)
  div.css-175oi2r.r-13awgt0:only-child
  div.css-175oi2r.r-2llsf.r-kemksi:only-child
  div.css-175oi2r:nth-child(5)
  div.css-175oi2r:nth-child(2)
  div.css-175oi2r:only-child
  div:only-child
  div.css-175oi2r:only-child
  button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(3):only-of-type:has(
    div:only-child
  ) {
  background-color: var(--primary-color) !important;
}

/* Export Data Download Button Hover */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv:only-child
  div.css-175oi2r:nth-child(1)
  div.css-175oi2r.r-13awgt0:only-child
  div.css-175oi2r.r-2llsf.r-kemksi:only-child
  div.css-175oi2r:nth-child(5)
  div.css-175oi2r:nth-child(2)
  div.css-175oi2r:only-child
  div:only-child
  div.css-175oi2r:only-child
  button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(3):only-of-type:has(
    div:only-child
  ):hover {
  background-color: var(--secondary-color) !important;
}

/* Delete Account Button */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-97e31f.r-bv2aro.r-hxflta.r-10xqauy.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx
  div.css-175oi2r
  button.css-175oi2r.r-1i6wzkk.r-lrvibr.r-1loqt21.r-1otgn73.r-1x0uki6
  div.css-175oi2r.r-1awozwy.r-nsiyw1.r-18u37iz.r-1777fci.r-bhtmuz.r-1slz7xr {
  background-image: linear-gradient(
    90deg,
    var(--primary-color),
    var(--secondary-color)
  ) !important;
}

/* Delete Account Information Icon */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r
  div.css-175oi2r.r-1xfd6ze.r-rs99b7.r-rsyp9y.r-7h7f8p.r-dd0y9b.r-cxgwc0.r-33ulu8
  div.css-175oi2r.r-97e31f.r-bv2aro.r-hxflta.r-10xqauy.r-13awgt0
  div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx
  div.css-175oi2r
  div.css-175oi2r:nth-child(5)
  div.css-175oi2r:only-child
  svg:only-of-type
  path {
  fill: var(--primary-color) !important;
}

/* Terms Anchors */

body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-13awgt0.r-1d5kdc7.r-1p0dtai.r-1d2f490.r-u8s1d.r-zchlnj.r-ipm5af
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-13awgt0
  > div.css-175oi2r.r-2llsf
  > div.css-175oi2r.r-150rngu.r-eqz5dr.r-16y2uox.r-1wbh5a2.r-11yh6sk.r-1rnoaur.r-agouwx
  > div.css-175oi2r.r-1ljd8xs.r-13l2t4g.r-sa2ff0.r-1jj8364.r-lchren.r-1ye8kvj.r-13qz1uu
  > div.css-175oi2r.r-18u37iz
  > a.css-146c3p1.r-1loqt21 {
  color: var(--primary-color) !important;
}

/* Create Account */

/* body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r.r-2llsf
  div.css-175oi2r.r-1jj8364.r-lchren.r-1ye8kvj.r-13qz1uu
  div.css-175oi2r
  div.css-175oi2r
  button.css-175oi2r.r-1loqt21.r-1otgn73:nth-of-type(1):has(div) {
  background-color: var(--primary-color) !important;
  border-color: var(--secondary-color) !important;
} */

/* Create Account Hover */

/* body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r.r-2llsf
  div.css-175oi2r.r-1jj8364.r-lchren.r-1ye8kvj.r-13qz1uu
  div.css-175oi2r
  div.css-175oi2r
  button.css-175oi2r.r-1loqt21.r-1otgn73:nth-child(1):has(div):hover {
  background-color: var(--secondary-color) !important;
} */

/* Business Blog Jobs */

/* body
  div#root
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r.r-13awgt0.r-12vffkv
  div.css-175oi2r
  div.css-175oi2r.r-13awgt0
  div.css-175oi2r.r-2llsf.r-kemksi
  div.css-175oi2r.r-2llsf
  div.css-175oi2r.r-1jj8364.r-lchren.r-1ye8kvj.r-13qz1uu
  div.css-175oi2r
  a.css-146c3p1.r-1loqt21 {
  color: var(--primary-color) !important;
  text-decoration-color: var(--primary-color) !important;
} */
